<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/html">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title th:text="${session.authority.username}"> - 预约记录</title>
        <link rel="stylesheet" href="../static/css/layui.min.css">
        <link rel="stylesheet" href="../static/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/secondary.css" type="text/css"/>
        <script language="javascript" type="text/javascript" src="../static/js/KunyiHTML5.min.js"></script>
        <script language="javascript" type="text/javascript" src="../static/js/Kunyilibrary.js"></script>
        <style>
            .patient-nav td {
                padding: 0 10px;
                font-size: 16px;
            }

            .patient-username {
                padding-right: 10px;
                font-weight: bold;
            }
            .app-btn {
                width: 1200px;
                margin: auto;
                text-align: right;
                padding: 10px;
            }
            .layui-laypage .layui-laypage-curr .layui-laypage-em {
                background-color: #1E9FFF;
            }
        </style>
    </head>
    <ul class="layui-nav layui-bg-blue" style="padding-left: 125px;">
        <li class="layui-nav-item layui-this"><a href="/patient/index">首页</a></li>
        <li class="layui-nav-item"><a href="/patient/search">查询</a></li>
        <li class="layui-nav-item"><a href="/patient/consultation">询问记录</a></li>
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;"th:text= "${session.authority.username}"></a>
            <dl class="layui-nav-child">
                <dd><a href="/home/logout">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <body>

        <div class="layui-layout layui-layout-admin">

            <!-- 内容主体区域 -->
            <hr style="magin-top:30px;">
            <div class="app-btn" >
                <input type="hidden"  >
                <a class="layui-btn layui-btn-normal"  href="/patient/registration">在线预约</a>
                <a class="layui-btn layui-btn-danger"  href="/patient/consult">在线咨询</a>
            </div>
            <div class="layui-form" style="width: 1200px;margin: 0 auto;clear: both;">
                <table id="table" class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="150">
                        <col width="150">
                        <col width="150">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>预约医生</th>
                            <th>预约时间</th>
                            <th>费用</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each = " u: ${page.getList()}">
                        <td th:text = "${u.id}"></td>
                        <td th:text = "${u.patientName}"></td>
                        <td th:text = "${u.doctorName}"></td>
                        <td th:text = "${u.time}"></td>
                        <td th:text = "${u.expenses}"></td>
                        <td th:switch="${u.status}">
                            <p th:case="1">预约中</p>
                            <p th:case="2">就诊中</p>
                            <p th:case="3">预约结束</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="pagination"></div>
            </div>
            <div style="height: 400px;"></div>
        </div>
        <script src="../static/js/layui.all.js"></script>
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
        <script>
            var PageNum = [[${pageNum}]];
            var count1 = [[${page.totalRow}]];
            layui.use('laypage', function(){

                let layPage = layui.laypage;


                //执行一个laypage实例
                layPage.render({
                    elem: 'pagination' //注意，这里的 test1 是 ID，不用加 # 号
                    // 数据总数，从服务端得到
                    ,count:count1
                    ,limit:5
                    ,curr:PageNum
                    ,jump: function(obj, first){
                        //obj包含了当前分页的所有参数，比如：
                        //首次不执行
                        if(!first){
                            window.location.href = "/patient/index?pageNum="+obj.curr+"&pageSize=" +obj.limit;
                        }
                    }

                    //设置每页显示记录数
                });
            });

            function consult(id){
                layer.open({
                    type: 2,
                    title: '咨询',
                    // closeBtn: 0,
                    area: ['800px', '600px'],
                    content: ['consult/?id=' + id,'yes'],
                    // btn: ['取消'],
                    yes: function (index) {
                        //事件
                        layer.close(index);
                    }
                });
            }
        </script>
    </body>

</html>