<html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>咨询记录</title>
        <link rel="stylesheet" href="http://localhost:9000/static/css/layui.min.css">
    </head>
    <ul class="layui-nav layui-bg-green" style="padding-left: 100px;">
        <li class="layui-nav-item " style="margin-left: 100px;"><a href="/doctor/index">首页</a></li>
        <li class="layui-nav-item layui-this" ><a href="/doctor/consult">患者咨询</a></li>
        <!--    <li class="layui-nav-item " ><a href="/doctor/returnList">回访记录</a></li>-->

        <li class="layui-nav-item" lay-unselect="" style="float: right;margin-right: 200px;">
            <a href="javascript:;"><span style="font-weight: bold;"th:text="${session.authority.username}"></span>&nbsp;医生</a>
            <dl class="layui-nav-child">
                <dd><a href="/home/logout">退出登录</a></dd>
            </dl>
        </li>
    </ul>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                    <table class="layui-table">
                        <table class="layui-table" lay-even lay-skin="nob">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="150">
                                <col width="300">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>持续天数</th>
                                <th>描述</th>
                                <th>回复</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr th:each="u : ${page.getList()}">
                                <td th:text="${u.id}"></td>
                                <td th:text="${u.days}"></td>
                                <td th:text="${u.describes}"></td>
                                <td th:text="${u.reply}"></td>
                                <td >
                                    <button class="layui-btn"
                                            th:onclick="'javascript:edit('+${u.id}+')' "><i class="layui-icon">&#xe642;</i></button>
                                </td>
                            </tr>
                        </table>
                    </table>
                    <hr>
            </div>
        </div>
        <script src="../static/js/layui.all.js"></script>
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script>
        function edit(location) {

            // window.location.href = 'admin/modify/'+location

            window.location.href = 'consultModify/?id='+location
        }
    </script>
    </body>
</html>
