<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/html">
<html>
<ul class="layui-nav layui-bg-green" style="padding-left: 100px;">
    <li class="layui-nav-item layui-this" style="margin-left: 100px;"><a href="/doctor/index">首页</a></li>
    <li class="layui-nav-item" lay-unselect="" style="float: right;margin-right: 200px;">
        <a href="javascript:;"><span style="font-weight: bold;"th:text="${session.authority.username}"></span>&nbsp;医生</a>
        <dl class="layui-nav-child">
            <dd><a href="/home/logout">退出登录</a></dd>
        </dl>
    </li>
</ul>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>就医</title>
    <link rel="stylesheet" href="../static/css/layui.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/secondary.css" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../static/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="../static/js/Kunyilibrary.js"></script>
    <style>
        /*分页样式*/
        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #1E9FFF;
        }
    </style>
</head>
<body bgcolor="#add8e6">
<div class="layui-layout layui-layout-admin">

    <div style="width: 1200px;margin: 0 auto;clear: both;">
        <form action="../doctor/index" method="get" style="margin-top: 30px;">
            <table>
                <tr style="font-size: 16px;">
                    <td style="color:rebeccapurple">患者:</td>
                    <td><input name="patientName" autocomplete="off" class="layui-input lay-size=sm"></td>
                    <td>
                        <button class="layui-btn layui-btn-normal"style="width: 60px;margin: 0 auto;" type="submit"><i class="layui-icon">&#xe615;</i></button>
                    </td>
                </tr>
            </table>
        </form>
        <table class="layui-table" >
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="200">
                <col width="100">
                <col width="550">
            </colgroup>
            <thead>
            <tr >
                <th>序号</th>
                <th>患者名称</th>
                <th>预约时间</th>
                <th>就诊状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody >
                    <tr th:each="u:${page.getList()}">
                        <td th:text="${u.id}"></td>
                        <td th:text="${u.patientName}"></td>
                        <td th:text="${u.time}"></td>
                        <td th:switch="${u.status}">
                            <p th:case="1">预约中</p>
                            <p th:case="2">就诊中</p>
                            <p th:case="3">预约结束</p>
                        </td>
                        <td colspan="2">
                            <button style="width: 120px;" class="layui-btn layui-btn-warm" th:onclick="'javascript:seek('+${u.patientId}+')'">就医</button>
<!--                            <button style="width: 120px;" class="layui-btn layui-btn-normal" onclick="check(${p.id})">查看病史</button>-->
<!--                            <button style="width: 120px;" class="layui-btn layui-btn-danger" onclick="finishSeek(${p.id})">就诊完成</button>-->
                        </td>
                    </tr>
            </tbody>
        </table>
        <div id="pagination"></div>
    </div>
</div>


<script src="../static/js/layui.all.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script>
    var PageNum = [[${pageNum}]];
    var count1 = [[${page.totalRow}]];
    layui.use('laypage', function(){

        let layPage = layui.laypage;


        //执行一个laypage实例
        layPage.render({
            elem: 'pagination' //注意，这里的 test1 是 ID，不用加 # 号
            // 数据总数，从服务端得到
            ,count:count1
            ,limit:5
            ,curr:PageNum
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                //首次不执行
                if(!first){
                    window.location.href = "/doctor/index?pageNum="+obj.curr+"&pageSize=" +obj.limit;
                }
            }

            //设置每页显示记录数
        });
    });
</script>
<script type="text/javascript">
    function seek(id) {
        layer.open({
            type: 2,
            title: '就医',
            // closeBtn: 0,
            area: ['800px', '600px'],
            content: ['seek/?id=' + id  , 'yes'],
            // btn: ['取消'],
            yes: function (index) {
                //事件
                layer.close(index);
            }
        });
    }

    function check(id) {
        layer.open({
            type: 2,
            title: '查看病史',
            closeBtn: 0,
            area: ['800px', '600px'],
            content: ['../static/doctor/medicalHistory/' + id, 'yes'],
            btn: ['取消'],
            yes: function (index) {
                //事件
                layer.close(index);
            }
        });
    }

    function finishSeek(id){
        layer.confirm('确认就诊完成？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                url: "../static/doctor/finishSeek/"+id,
                type: 'post',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data.message);
                    layer.msg("就诊完成",{time:1000},function(){
                        window.location.reload();
                    })
                },
                error: function (data) {
                    layer.msg(data.message, {
                        time: 1000, //2s后自动关闭
                    });
                }
            });
            return false
        }, function(){
            layer.msg('继续就诊', {icon: 1,time:1000});
        });

    }

    function printSeek(id,appointmentId){
        $.ajax({
            url: "../static/doctor/printSeek/" + id + "/" + appointmentId,
            type: 'post',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data.message);
                layer.alert(data.message);
            },
            error: function (data) {
                layer.msg(data.message, {
                    time: 2000, //2s后自动关闭
                });
            }
        });
        return false
    }
</script>
</body>
</html>