<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/html">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        /*分页样式*/
        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #1E9FFF;
        }
    </style>
</head>
<body bgcolor="#add8e6">
<div class="layui-layout layui-layout-admin">

    <div style="width: 1200px;margin: 0 auto;clear: both;">
        <table class="layui-table" >
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="200">
                <col width="100">
                <col width="550">
            </colgroup>
            <thead>
            <tr >
                <th>序号</th>
                <th>回访</th>
                <th>回复</th>
            </tr>
            </thead>
            <tbody >
                    <tr th:each="u:${page.getList()} ">
                        <td th:text="${u.id}"></td>
                        <td th:text="${u.question}"></td>
                        <td th:text="${u.describe}"></td>
<!--                        <td colspan="2">-->
<!--                            <button style="width: 120px;" class="layui-btn layui-btn-warm" th:onclick="'javascript:seek('+${u.patientId}+','+${u.id}+')'">就医</button>-->
<!--                            <button style="width: 120px;" class="layui-btn layui-btn-normal" th:onclick="'javascript:check('+${u.patientId}+')'">查看病史</button>-->
<!--                            <button style="width: 120px;" class="layui-btn layui-btn-danger" th:onclick="'javascript:return1('+${u.id}+')'">回访</button>-->
<!--                            <button style="width: 120px;" class="layui-btn layui-btn-danger" th:onclick="'javascript:finish('+${u.id}+')'">就诊完成</button>-->
<!--                        </td>-->
                    </tr>
            </tbody>
        </table>
        <div id="pagination"></div>
    </div>
</div>


<script src="../static/js/layui.all.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script>
    var PageNum = [[${pageNum}]];
    var count1 = [[${page.totalRow}]];
    layui.use('laypage', function(){

        let layPage = layui.laypage;


        //执行一个laypage实例
        layPage.render({
            elem: 'pagination' //注意，这里的 test1 是 ID，不用加 # 号
            // 数据总数，从服务端得到
            ,count:count1
            ,limit:5
            ,curr:PageNum
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                //首次不执行
                if(!first){
                    window.location.href = "/doctor/index?pageNum="+obj.curr+"&pageSize=" +obj.limit;
                }
            }

            //设置每页显示记录数
        });
    });
</script>
<script type="text/javascript">
    function seek(id,rid) {
        layer.open({
            type: 2,
            title: '就医',
            // closeBtn: 0,
            area: ['800px', '600px'],
            content: ['seek/?id=' + id+'&rid='+rid,'yes'],
            // btn: ['取消'],
            yes: function (index) {
                //事件
                layer.close(index);
            }
        });
    }
    function return1(id) {
        layer.open({
            type: 2,
            title: '回访',
            // closeBtn: 0,
            area: ['800px', '600px'],
            content: ['return1/?id=' + id,'yes'],
            // btn: ['取消'],
            yes: function (index) {
                //事件
                layer.close(index);
            }
        });
    }
    function check(id) {
        layer.open({
            type: 2,
            title: '查看病史',
            closeBtn: 0,
            area: ['800px', '600px'],
            content: ['medicalHistory/?id=' + id, 'yes'],
            btn: ['取消'],
            yes: function (index) {
                //事件
                layer.close(index);
            }
        });
    }


    function finish(id){
        layer.confirm('确认就诊完成？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                url: "finishSeek/?id="+id,
                type: 'post',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data.msg);
                    layer.msg("就诊完成",{time:1000},function(){
                        window.location.reload();
                    })
                },
                error: function (data) {
                    layer.msg(data.msg, {
                        time: 1000, //2s后自动关闭
                    });
                }
            });
            return false
        }, function(){
            layer.msg('继续就诊', {icon: 1,time:1000});
        });

    }

    function printSeek(id,appointmentId){
        $.ajax({
            url: "../static/doctor/printSeek/" + id + "/" + appointmentId,
            type: 'post',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data.message);
                layer.alert(data.message);
            },
            error: function (data) {
                layer.msg(data.message, {
                    time: 2000, //2s后自动关闭
                });
            }
        });
        return false
    }
</script>
</body>
</html>