<html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改页面</title>
    <link rel="stylesheet" href="http://localhost:9000/static/css/layui.min.css">
</head>
<ul class="layui-nav layui-bg-red" style="padding-left: 125px;">
    <li class="layui-nav-item"><a href="/patient/index">首页</a></li>
    <li class="layui-nav-item"><a href="/patient/information">医生资料</a></li>
    <li class="layui-nav-item"><a href="/patient/consultation">询问记录</a></li>
    <li class="layui-nav-item"><a href="/patient/departmentInfo">科室资料</a></li>
    <li class="layui-nav-item layui-this"><a href="/patient/infoModify">个人信息</a></li>
    <li class="layui-nav-item" lay-unselect="" style="float: right;margin-right: 200px;">
        <a href="javascript:;"th:text= "${session.authority.username}"></a>
        <dl class="layui-nav-child">
            <dd><a href="/home/logout">退出登录</a></dd>
        </dl>
    </li>
</ul>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <form class="layui-form"  th:action="@{/patient/patientEdit}" method="post">
            <input type="hidden" name="id" th:value="${patient.id}" >
            <table class="layui-table">
                <colgroup>
                    <col width="150" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col>
                </colgroup>
                <tr>
                    <td style="width: 100px">姓名：</td>
                    <td>
                        <input type="text" name="name" th:value= '${patient.name}' required autocomplete="off" class="layui-input">
                    </td>
                </tr>

                <tr>
                    <td>年龄：</td>
                    <td>
                        <input type="text" name="age" th:value= '${patient.age}' required  lay-verify="required"   autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td>
                        <input type="text" name="sex" th:value= '${patient.sex}' required autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td>主治医师：</td>
                    <td>
                        <input type="text" name="department" readonly = "readonly" th:value= '${patient.registrationId}' required   lay-verify="required"  autocomplete="off" class="layui-input">
                    </td>
                </tr>

                <tr>
                    <td>登录账号：</td>
                    <td>
                        <input type="text" name="userId" readonly = "readonly" th:value= '${patient.userId}' required   lay-verify="required"  autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td>操作：</td>
                    <td>
                        <input type="submit" class="layui-btn" value="提交"></input>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;" id="message"></span>
                    </td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>