<html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>预约表单页</title>
    <link rel="stylesheet" href="../static/css/layui.min.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <form class="layui-form"  th:action="@{/admin/registrationSave}" method="post">
            <input type="hidden" name="id"  >
            <table class="layui-table">
                <colgroup>
                    <col width="150" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col width="200" >
                    <col>
                </colgroup>
                <tr>
                    <td style="width: 100px">患者Id：</td>
                    <td>
                        <input type="text" name="patientId" required autocomplete="off" class="layui-input">
                    </td>
                </tr>

                <tr>
                    <td>医生Id：</td>
                    <td>
                        <input type="text" name="doctorId" required  lay-verify="required"   autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td>时间：</td>
                    <td>
                        <input type="text" name="time" required autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td>花费：</td>
                    <td>
                        <input type="text" name="expenses" required   lay-verify="required"  autocomplete="off" class="layui-input">
                    </td>
                </tr>

                <tr>
                    <td>状态：</td>
                    <td>
                        <input type="text" name="status" required   lay-verify="required"  autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td>操作：</td>
                    <td>
                        <input type="submit" class="layui-btn" value="提交"></input>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;" id="message"></span>
                    </td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
<script>
    var PageNum = [[${pageNum}]];
    var count1 = [[${page.totalRow}]];
    layui.use('laypage', function(){

        let layPage = layui.laypage;


        //执行一个laypage实例
        layPage.render({
            elem: 'pagination' //注意，这里的 test1 是 ID，不用加 # 号
            // 数据总数，从服务端得到
            ,count:count1
            ,limit:5
            ,curr:PageNum
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                //首次不执行
                if(!first){
                    window.location.href = "/admin/patientManage?pageNum="+obj.curr+"&pageSize=" +obj.limit;
                }
            }

            //设置每页显示记录数
        });
    });
</script>
</html>