<html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>新增页面</title>
    <link rel="stylesheet" href="../static/css/layui.min.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <form class="layui-form"  onsubmit="return registration()">
                <input type="hidden" name="patientId" id="patientId" th:value="${patient.id}">
                <table class="layui-table">
                    <colgroup>
                        <col width="150" >
                        <col width="200" >
                        <col width="200" >
                        <col width="200">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tr>
                        <td style="width: 100px">患者名称：</td>
                        <td colspan="3"th:text="${patient.name}">
                        </td>
                    </tr>
                    <tr>
                        <td>预约科室：</td>
                        <td colspan="2">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <select id="department" lay-filter="department" >
                                        <option value="">请选择科室</option>
                                        <option value="精神科" >精神科</option>
                                        <option value="妇产科" >妇产科</option>
                                        <option value="口腔科" >口腔科</option>
                                        <option value="骨科" >骨科</option>
                                        <option value="外科" >外科</option>
                                        <option value="内科" >内科</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                        <td>预约医生：</td>
                        <td>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <select name="doctorId" id="doctorId">
<!--                                        <option value="${}">${appointment.doctorName}</option>-->
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>预约时间：</td>
                        <td colspan="3">
                                <input type="date" name="time"  required  lay-verify="required"   autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td>门诊费：</td>
                        <td colspan="3">
                            <input type="text" name="expense" id="expense"  readonly = "readonly" required  lay-verify="required"   autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td>状态：</td>
                        <td colspan="3">
                            <input type="hidden" name="status" value="1" required  lay-verify="required"   autocomplete="off" class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td>操作：</td>
                        <td>
                            <input type="submit" class="layui-btn" value="提交"></input>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;" id="message"></span>
                        </td>
                    </tr>
                    <tbody>

                    </tbody>
                </table>
            </form>
        </div>
</div>
<script src="../static/js/layui.all.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript">
    function registration() {
        var d = {};
        var t = $('form').serializeArray();
        $.each(t, function () {
            d[this.name] = this.value;
        });
        var json = JSON.stringify(d);
        $.ajax({
            url: "registration1",
            type: 'post',
            data: json,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data.msg);
                window.location.href = "index";
            },
            error: function (data) {
                layer.msg(data.msg, {
                    time: 2000, //2s后自动关闭
                });
            }
        });
        return false;
    }
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;
        form.on('select(department)', function (data) {
            var department = (data.value);
            $.ajax({
                type: 'GET',
                url: '../doctor/getList/?department=' + department,
                dataType: 'json',
                success: function (data) {
                    $("#doctorId").empty();
                    data.forEach(function (item) {
                        var name = item.name;
                        console.log(name);
                        var id = item.id;
                        var price = item.price;
                        console.log(price);
                        console.log(id);
                        $("#doctorId").append("<option value=" + id + ">" + name +"</option>");
                        // $("#expense").append(price);
                        $("#expense").val(String(price));
                    });
                    form.render('select');
                }
            });
        });

    });

</script>
</body>
</html>