<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>就医</title>
    <link rel="stylesheet" href="http://localhost:9000/static/css/layui.min.css">
</head>
<body>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">诊断</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form" id="form1" onsubmit="return seekInfo()">
                <table class="layui-table">
                    <tr>
                        <td>患者名称</td>
                        <td><input type="text" th:value="${patient.name}" readonly class="layui-input">
                            <input type="hidden" th:value="${patient.id}" name="patientId" readonly class="layui-input">
                            <input type="hidden" value="${appointmentId}" name="appointmentId" readonly class="layui-input">
                        </td>
                    </tr>
                    <tr>
                        <td>患者描述</td>
                        <td><textarea class="layui-input" style="height: 100px;" name="describes"></textarea></td>
                    </tr>
                    <tr>
                        <td>确诊病情</td>
                        <td><input class="layui-input" name="illness" placeholder="请输入得了什么病"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="layui-btn" type="submit">确诊</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="http://localhost:9000/static/js/jquery-3.3.1.min.js"></script>
<script src="http://localhost:9000/static/js/layui.all.js"></script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
    function seekInfo(){
        var d = {};
        var t = $('#form1').serializeArray();
        $.each(t, function() {
            d[this.name] = this.value;
        });
        var json=JSON.stringify(d);
        $.ajax({
            url:"../seekInfo",
            type:'post',
            data:json,
            contentType: "application/json;charset=utf-8",
            success:function(data){
                layer.msg(data.msg, {
                    time: 2000, //2s后自动关闭
                },function() {
                    parent.location.reload();
                });
            },
            error:function (data) {
                layer.msg(data.msg, {
                    time: 2000, //2s后自动关闭
                });
            }
        });
        return false
    }
    // function check(id) {
    //     layer.open({
    //         type: 2,
    //         title: '查看病史',
    //         closeBtn: 0,
    //         area: ['800px', '600px'],
    //         content: ['../medicalHistory/' + id, 'yes'],
    //         btn: ['取消'],
    //         yes: function (index) {
    //             //事件
    //             layer.close(index);
    //         }
    //     });
    // }
    function zation(){
        var d = {};
        var t = $('#form3').serializeArray();
        $.each(t, function() {
            d[this.name] = this.value;
        });
        var json=JSON.stringify(d);
        $.ajax({
            url:"${ctxPath}/doctor/zation",
            type:'post',
            data:json,
            contentType: "application/json;charset=utf-8",
            success:function(data){
                console.log(data.message);
                layer.msg(data.message, {
                    time: 2000, //2s后自动关闭
                },function() {
                    parent.location.reload();
                });
            },
            error:function (data) {
                layer.msg(data.message, {
                    time: 2000, //2s后自动关闭
                });
            }
        });
        return false
    }
</script>
</body>
</html>